body {
    font-family: 'Raleway', sans-serif;

}

.container__axit {
    width: 100%;
    margin: 0 auto;

}

.wrapper__axit {
    max-width: 1510px;
    margin: 0 auto;
    background-image: url("/axit-projeck/images/axit_images/bg_axit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}


.header__axit {
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;


}

.axit__logo {
    display: flex;
    /*margin: 23px 567px 22px 115px;*/

}

.wrapper__axit__logo {
    width: 770px;
    height: 75px;
    display: flex;
    align-items: center;


}

.wrapper__header {
    width: 100%;
    display: flex;
    padding-left: 115px;
    padding-right: 170px;
    justify-content: space-between;

}

.navigation {

    display: flex;
    align-items: center;

    gap: 60px;

}

.navigation a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;

}

.navigation a:hover {
    text-shadow: 3px 5px 0 #EC7979;
}


.body__axit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.main__axit {
    display: flex;
    flex-direction: column;

}

.body__logo {
    margin-top: 231px;
    display: flex;

}

.axit__text {
    display: flex;
    justify-content: left;
    max-width: 670px;
    font-weight: 500;
    font-size: 32px;
    line-height: 56px;
    color: #FFFFFF;

}


.axit__line {
    width: 170px;
    border: #FFFFFF solid 1px;
    margin-top: 56px;
}

.short__text {
    width: 270px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 42px;
    color: #FFFFFF;
}

.main__axit {
    display: flex;
    justify-content: center;
}

.card__axit {
    max-width: 470px;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 208px;
    margin-bottom: 293px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.cardaxit__header {
    width: 367px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.cardaxit__body {
    width: 100%;
    padding: 0 20px;
}

.cardaxit__body__text {
    color: #BDBDBD;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.card__line {
    width: 100%;
    border: #BDBDBD solid 1px;
    margin-top: 16px;
}

.cardaxit__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;


}

.button__axit {
    width: 470px;
    height: 60px;
    margin-top: 90px;
    color: #fff;
    background: #EC7979;
    border: none;


}

.button__axit__body {
    margin-top: 42px;
}

.button__download {
    background-color: transparent;
    width: 270px;
    height: 58px;
    margin-top: 90px;
    margin-bottom: 167px;
    color: #fff;
    border: #FFFFFF solid 2px;
}

.wrapper__shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}