body {
    font-family: 'Raleway', sans-serif;
}

.container__axit {
    width: 100%;
    margin: 0 auto;
}

.wrapper__axit {
    max-width: 1510px;
    margin: 0 auto;
    background-image: url("/axit-projeck/images/axit_images/bg_axit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header__axit {
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
}

.axit__logo {
    display: flex;
}

.wrapper__axit__logo {
    width: 770px;
    height: 75px;
    display: flex;
    align-items: center;
}

.wrapper__header {
    width: 100%;
    display: flex;
    padding-left: 115px;
    padding-right: 170px;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
}

.navigation a:hover {
    text-shadow: 3px 5px 0 #EC7979;
}


.body__axit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.main__axit {
    display: flex;
    flex-direction: column;
}

.body__logo {
    margin-top: 231px;
    display: flex;
}

.axit__text {
    display: flex;
    justify-content: left;
    max-width: 670px;
    font-weight: 500;
    font-size: 32px;
    line-height: 56px;
    color: #FFFFFF;
}


.axit__line {
    width: 170px;
    border: #FFFFFF solid 1px;
    margin-top: 56px;
}

.short__text {
    width: 270px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 42px;
    color: #FFFFFF;
}

.main__axit {
    display: flex;
    justify-content: center;
}

.card__axit {
    max-width: 470px;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 208px;
    margin-bottom: 293px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardaxit__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 30px;
    text-align: center;
}

.cardaxit__header-color {
    color: #EC7979
}

.axit__form {
    max-width: 470px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.axit__form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px 50px 0 50px;
    border: none;
    gap: 60px;
}

.form__input-axit {
    border: none;
    border-bottom: #86878B 1px solid;
    max-width: 100%;
    max-height: 100%;
}

.form__input-axit:hover {
    outline: 0;
    outline-offset: 0;
    cursor: pointer;
}

.form__input-axit:focus {
    outline: 0;
    outline-offset: 0;
    border: none;
    border-bottom: #EC7979;
}


.form__input {
    max-width: 370px;
    max-height: 68px;
}

.cardaxit__body {
    width: 100%;
    padding: 0 20px;
}

.cardaxit__body__text {
    color: #BDBDBD;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.card__line {
    width: 100%;
    border: #BDBDBD solid 1px;
    margin-top: 16px;
}

.cardaxit__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
}

.button__axit {
    width: 100%;
    height: 90px;
    margin-top: 90px;
    color: #fff;
    background: #EC7979;
    border: none;
}

.button__axit__body {
    padding-top: 42px;
}

.button__download:hover {
    cursor: pointer;
    background-color: #86878B;
    tansition: all .3s linear;
}

.button__axit:hover {
    cursor: pointer;
    background-color: #86878B;
    tansition: all .3s linear;
}

.button__download {
    background-color: transparent;
    width: 270px;
    height: 58px;
    margin-top: 90px;
    margin-bottom: 167px;
    color: #fff;
    border: #FFFFFF solid 2px;
}

.wrapper__shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 320px) {
    .body__axit {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main__axit {
        padding: 0;
    }

    .axit__logo {
        padding: 16px 260px 16px 20px;
    }

    .wrapper__header {
        width: 320px;
        padding: 0;
        display: block;
    }

    .axit__text {
        margin: 84px;

    }

    .navigation {
        display: none
    }

    .button__axit__body {
        padding: 0;
        margin-top: 0;
        margin-bottom: -210px;
    }

    .card__axit {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .main__axit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        padding: 84px;

    }

    .body__logo {
        display: none;
    }

    .axit__line {
        max-width: 375px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .short__text {
        max-width: 375px;
        margin-top: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button__download {
        display: flex;
        justify-content: center;
        max-width: 288px;
        max-height: 50px;
        margin-top: 42px;
    }

}