.container__contact {
    width: 100%;
    margin: auto;
}

.wrapper__contact {
    max-width: 1170px;
    height: auto;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__contact {
    max-width: 1170px;
    height: auto;
}

.form__blocks {
    max-width: 1170px;
}

.contact__left-block input {
    width: 570px;
    height: 70px;
    border: none;
    border-bottom: black 1px solid;
    display: flex;
    justify-content: flex-start;
}

.contact__right-block input {
    padding-bottom: 165px;
    padding-top: 15px;
    border: none;
    border-bottom: black 1px solid;
}

.contact__left-block {
    display: flex;
    flex-direction: column;
    max-width: 570px;
}

.contact__right-block {
    display: flex;
    flex-direction: column;
    width: 570px;
}


.header__contact {
    max-width: 1170px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 36px;
    align-self: center;
    margin-top: 50px;
}

.line {
    width: 170px;
    display: flex;
    justify-content: center;
    max-width: 170px;
    height: 1px;
    border: 1px solid #EC7979;
    margin: auto;
}

.contact__text {
    max-width: 1170px;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: #86878B;
    margin-top: 40px;
}


.creator__input input {
    margin-top: 48px;
    text-align: center;
    height: 58px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #EC7979;
    border: 2px solid #FFFFFF;
}

.button:hover {
    color: #fff;
    background: #9187878f;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.contact__blocks {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    gap: 30px;
}

.contact__footer {
    margin-bottom: 50px;
}

.button__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 370px;
    height: 58px;
    margin-top: 50px;
    color: #fff;
    background: #EC7979;
    border: none;
}

.button__contact:hover {
    color: #fff;
    background: #9187878f;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

@media screen and (max-width: 320px) {
    .contact__blocks {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        flex-direction: column;
    }

    .header__contact {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .line {
        margin: 60px auto;
    }

    .form__blocks {
        max-width: 100%;
    }

    .contact__left-block input {
        max-width: 100%;

    }

    .contact__right-block {
        display: flex;
        flex-direction: column;
        max-width: 100%;

    }

    .contact__footer {
        display: flex;
        justify-content: center;
    }

    .button__contact {
        max-width: 280px;
    }
}