.conteiner__customers {
    max-width: 1170px;
    margin: auto;
    background-color: white;
}

.wrapper__customers {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.header__wrapper__customer {
    margin: 0;
}

.header__text__customer {
    max-width: 1170px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.strip {
    max-width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: auto;
}

.customers-head-text {
    max-width: 1169px;
    max-height: 21px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 83px;
}

.customers-cards {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.customers-card {
    max-width: 370px;
    height: auto;
    margin-bottom: 84px;
}

.customers-text {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E2E2;
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 38px 20px;
    margin-bottom: 66px;
}

.customers-person {
    display: flex;
}

.customers-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}

.customers-name {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.customers-position {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.customers-image {
    min-width: 50px;
}

@media screen and (max-width: 320px) {
    .customers-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    customers-name {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
    }

    .customers-card:first-child {
        display: none;
    }

    .customers-card:last-child {
        display: none;
    }
}





