@media screen and (max-width: 375px) {
    .navigation {
        display: none
    }

    .card__axit {
        display: none;
    }

    .main__axit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        padding: 84px;

    }

    .body__logo {
        display: none;
    }

    .axit__line {
        max-width: 375px;
        margin-top: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .short__text{
        max-width: 375px;
        margin-top: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button__download{
        display: flex;
        justify-content: center;
        max-width: 288px;
        max-height: 50px;
        margin-top: 42px;
    }

}