@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Concert+One&family=Fruktur&family=Kavoon&family=Open+Sans:wght@400;700&family=Pacifico&family=VT323&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1170px;
    margin: auto;
}

.wrapper {
    margin-top: 100px;
    width: 1170px;
    height: 540px;
}

.tab {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.header__text {
    width: 570px;
    height: 124px;
    margin-left: 100px;
    text-align: left;
    font-size: 26px;
    align-items: center;
    margin-bottom: 27px;
    padding-top: 40px;
}


.text {
    width: 570px;
    height: 210px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.tab__index {
    float: left; /* Устаревшая запись */
}

.inserts {
    display: flex;
}

.inserts__nane {
    width: 200px;
    height: 39px;
    text-align: center;
    padding-top: 10px;
}

.img {
    width: 466px; /* Не используй фиксированный размер */
    height: 497px; /* Не используй фиксированный размер */
    float: left; /* Устаревшая запись */
}

img{
    background-size: cover; /* У тебя отсутствует background */
    width: x;  /* Это как? */
    height: y; /* Это как? */
}

.link {
    width: 270px;
    height: 58px;
    margin-left: 100px;
    position: absolute; /* Не используй абсолют */
    background: #EC7979;
    margin-top: 27px;
}

.link__text {
    text-align: center;
    align-items: center;
    margin-top: 18px;
    color: white;
}
.tab__index__1{
    Box-shadow:0px 0px 0px 1px #000; /* Это обычный border */
    border-top-right-radius: 10px;
}